.messageContainer {
  margin: 0.5em;
  .message {
    display: inline-block;
    padding: 0.5em;
    border: 1px dotted #ced4da;
    border-radius: .5rem;
    text-align: left;
    p {
      margin: 0.5em;
    }
  }

  .message:hover {
    background-color: lightgray;
  }

  .self {
    background-color: #F6FFFA;
  }

  .peer {
    margin: auto 0 auto auto;
    background-color: #FEF3F1;
  }
}

.peer {
  text-align: right;
}
