.messageContainer {
  margin: 0.5em;
  text-align: right;
  .message {
    display: inline-block;
    padding: 0.5em;
    border: 1px dotted #ced4da;
    border-radius: .5rem;
    //text-align: left;
    p {
      margin: 0.5em;
    }
  }

  .message:hover {
    background-color: lightgray;
  }

  .self {
    background-color: #AAC8D9; // #F6FFFA;
    margin-right: 0.5em;
  }

  .peer {
    margin: auto 0 auto auto;
    background-color: #D9AAAA; // #FEF3F1;
    //text-align: left;
  }
}

.peer {
  text-align: left;
}
