.editor {
  width: 100%;
  max-height: calc(100% - 2.7em);
  //height: 100%;
  //border: 1px solid #ced4da;
  //border-radius: .25rem;
  //border: 0;
  //overflow-y: hidden;
}

.ql-toolbar {
  border: 0;
}
