.peer {
  margin: 4px;
  border: 1px dotted #39403C;
  border-radius: .25rem;
  padding: 0.4em 1em;
  color: #39403C;
  cursor: pointer;

  .name {
    font-size: 1.2em;
  }

  .sub {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
  }
}

.selected {
  background-color: #ACC1B7;
}
