@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

.rootPane {
  width: 100%;
  > div {
    flex-wrap: nowrap;
    > div {
      border-radius: .25rem;
      height: calc(100vh - 4rem);
      padding: 0;
      .messages {
        height: 60%; // calc(100% - 4em);
        max-height: calc(100% - 4em);
        margin: 0 2px 2px 2px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
      }

      .messageEditor {
        height: calc(40% - 2px);
        margin: 2px 2px auto 2px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        overflow-y: auto;
      }
    }

    > div:first-of-type {
      border: 1px solid #ced4da;
      margin-right: 1px;
      display: flex;
      p {
        margin: auto;
        text-align: center;
      }
    }

    @media (max-width: 1200px) {
      > div {
        height: calc(100vh - 3rem - 3.3vw);
      }
    }
  }
}
