@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

.rootPane {
  width: 100%;
  //min-height: 600px;

  div {
    div {
      border: 1px solid darkgrey;
      border-radius: 2px;
      min-height: calc(100vh - 4.5em);
    }

    div:first-of-type {
      margin-right: 2px;
    }
  }
}
